on boot
    # Power
    setprop vendor.powerhal.init 1
    # Oeminfo
    chmod 0666 /dev/socket/oeminfo_nvm
    chown system system /dev/socket/oeminfo_nvm

# Start services
service aptouch /vendor/bin/aptouch_daemon
    user root
    group root system shell log wakelock

service bms_alarm /vendor/bin/bms_alarm
    user system
    group system
    disabled
    oneshot

service bms_auth /vendor/bin/bms_auth
    user system
    group system
    disabled
    oneshot

service bms_behavior /vendor/bin/bms_behavior
    user system
    group system
    disabled
    oneshot

service bms_event /vendor/bin/bms_event
    user system
    group system
    disabled

service bms_logcat /vendor/bin/bms_logcat
    user system
    group system
    disabled
    oneshot

service bms_protocol /vendor/bin/bms_protocol
    user system
    group system
    disabled
    oneshot

service bms_soc /vendor/bin/bms_soc
    user system
    group system
    disabled
    oneshot

service bms_thermal /vendor/bin/bms_thermal
    user system
    group system
    disabled
    oneshot

service bms_thermal_h /vendor/bin/bms_thermal -m 0
    user system
    group system
    disabled
    oneshot

service bms_thermal_n /vendor/bin/bms_thermal -m 1
    user system
    group system
    disabled
    oneshot

service bsoh /vendor/bin/bsoh
    user system
    group system
    disabled

service hisecd /vendor/bin/hisecd
    class main
    user system
    group system radio root
    socket hisecd stream 0660 system system
    file /dev/kmsg w
    writepid /dev/cpuset/system-background/tasks /dev/stune/system-background/tasks /dev/blkio/system-background/tasks
    disabled

service oeminfo_nvm /vendor/bin/oeminfo_nvm_server
    class core
    group system readproc root
    critical
    ioprio rt 4

service teecd /vendor/bin/teecd
    class early_hal
    user root
    group root system readproc

service powerct /vendor/bin/powerct
    user system
    group system
    disabled

service usb_port /vendor/bin/usb_port
    user system
    group system
    disabled
    oneshot

service charger /system/bin/bms_animation
    class charger
    user root
    group root system
    critical
    seclabel u:r:charger:s0

service vendor.hwcomposer-2-2 /vendor/bin/hw/android.hardware.graphics.composer@2.2-service
    override
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles HighPerformance

service CameraDaemon /vendor/bin/CameraDaemon kirin970 CHARLOTTE
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system
    ioprio rt 4
    capabilities SYS_NICE
	
service vendor.folio_daemon /system/bin/folio_daemon
    class late_start
    user system
    group system uhid
    disabled

on property:init.svc.zygote=running
    start vendor.folio_daemon

on property:init.svc.zygote=stopped
    stop vendor.folio_daemon

on property:odm.thp.service_enable=1
    start aptouch

on property:odm.thp.service_enable=0
    stop aptouch

on property:vendor.bms_event=init
    start bms_heating
    start bms_behavior

on property:vendor.bms_event=start
    start usb_port
    start bms_heating
    start bms_soc

on property:vendor.bms_event=stop
    stop usb_port
    stop bms_heating
    stop bms_soc
    stop chargelogcat-c

on property:vendor.bms_event_vote=start
    start bms_auth
    start bms_protocol
    start bms_behavior

on property:vendor.bms_event_vote=stop
    stop bms_auth
    stop bms_protocol

on property:sys.factory_pwr_ctrl=true
    setprop vendor.soc_ctrl_mmi_stop true

on property:sys.factory_pwr_ctrl=false
    setprop vendor.soc_ctrl_mmi_stop false

# for customized version
on property:ro.config.hw_power_ctrl=*
    setprop vendor.soc_ctrl_cust ${ro.config.hw_power_ctrl}

on property:vendor.hw_mc.bms.hw_power_ctrl=*
    setprop vendor.soc_ctrl_cust ${vendor.hw_mc.bms.hw_power_ctrl}

# for demo version
on property:sys.demo_pwr_ctrl=*
    setprop vendor.soc_ctrl_demo ${sys.demo_pwr_ctrl}

on property:ro.config.bootincharge=*
    setprop vendor.soc_ctrl_bootincharge ${ro.config.bootincharge}

on property:vendor.hw_mc.bms.bootincharge=*
    setprop vendor.soc_ctrl_bootincharge ${vendor.hw_mc.bms.bootincharge}

on property:sys.bms_limit_mode=hota
    start bms_thermal_h

on property:sys.bms_limit_mode=normal
    start bms_thermal_n

on property:sys.boot_completed=1 && property:ro.runmode=normal
    write /sys/class/hw_power/interface/iin_limit "bms_limit all 0"
    write /sys/class/hw_power/interface/iin_thermal_all "bms_limit all 0"

on property:sys.shutdown.requested=*
    write sys/kernel/eas/boot_boost 1
    write /config/usb_gadget/g1/functions/mass_storage.gs6/lun.0/file none

on property:sys.boot_completed=1
    setprop vendor.boot_completed 1
    write /proc/self/reclaim file

on property:sys.usb.state=*
    setprop vendor.get_usb_state ${sys.usb.state}

on property:sys.usb.config=*
    setprop vendor.get_usb_config ${sys.usb.config}

on property:persist.sys.usb.config=*
    setprop vendor.get_p_usb_config ${persist.sys.usb.config}

on property:persist.sys.usb.rework=*
    setprop vendor.get_p_usb_rework ${persist.sys.usb.rework}

# transform vendor property to system property

on property:vendor.set_usb_config=*
    setprop sys.usb.config ${vendor.set_usb_config}

on property:vendor.set_p_usb_config=*
    setprop persist.sys.usb.config ${vendor.set_p_usb_config}
