on boot
    # Power
    setprop vendor.powerhal.init 1
    # Oeminfo
    chmod 0666 /dev/socket/oeminfo_nvm
    chown system system /dev/socket/oeminfo_nvm

# Start services
service bms_auth /vendor/bin/bms_auth
    user system
    group system
    disabled
    oneshot

service bms_behavior /vendor/bin/bms_behavior
    user system
    group system
    disabled
    oneshot

service bms_event /vendor/bin/bms_event
    user system
    group system
    disabled

service bms_protocol /vendor/bin/bms_protocol
    user system
    group system
    disabled
    oneshot

service bms_soc /vendor/bin/bms_soc
    user system
    group system
    disabled
    oneshot

service bsoh /vendor/bin/bsoh
    user system
    group system
    disabled

service hisecd /vendor/bin/hisecd
    class main
    user system
    group system radio root
    socket hisecd stream 0660 system system
    file /dev/kmsg w
    writepid /dev/cpuset/system-background/tasks /dev/stune/system-background/tasks /dev/blkio/system-background/tasks
    disabled

service oeminfo_nvm /vendor/bin/oeminfo_nvm_server
    class core
    group system readproc root
    critical
    ioprio rt 4

service teecd /vendor/bin/teecd
    class early_hal
    user root
    group root system readproc

service usb_port /vendor/bin/usb_port
    user system
    group system
    disabled
    oneshot

service vendor.charger /vendor/bin/hw_charger -p
    class charger
    user root
    group root system
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

service vendor.hwcomposer-2-2 /vendor/bin/hw/android.hardware.graphics.composer@2.2-service
    override
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles HighPerformance

service vendor.keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    override
    interface android.hardware.keymaster@3.0::IKeymasterDevice default
    class early_hal
    user system
    group system drmrpc

service CameraDaemon /vendor/bin/CameraDaemon kirin970 CHARLOTTE
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system
    ioprio rt 4
    capabilities SYS_NICE
	
on property:vendor.bms_event=init
    start bms_heating
    start bms_behavior

on property:vendor.bms_event=start
    start usb_port
    start bms_heating
    start bms_soc

on property:vendor.bms_event=stop
    stop usb_port
    stop bms_heating
    stop bms_soc

on property:vendor.bms_event_vote=start
    start bms_auth
    start bms_protocol
    start bms_behavior

on property:vendor.bms_event_vote=stop
    stop bms_auth
    stop bms_protocol

on property:sys.boot_completed=1 && property:ro.runmode=normal
    write /sys/class/hw_power/interface/iin_limit "bms_limit all 0"
    write /sys/class/hw_power/interface/iin_thermal_all "bms_limit all 0"

on property:sys.shutdown.requested=*
    write sys/kernel/eas/boot_boost 1
    write /config/usb_gadget/g1/functions/mass_storage.gs6/lun.0/file none

on property:sys.boot_completed=1
    setprop vendor.boot_completed 1
    write /proc/self/reclaim file

on property:sys.usb.state=*
    setprop vendor.get_usb_state ${sys.usb.state}

on property:sys.usb.config=*
    setprop vendor.get_usb_config ${sys.usb.config}

on property:persist.sys.usb.config=*
    setprop vendor.get_p_usb_config ${persist.sys.usb.config}

on property:persist.sys.usb.rework=*
    setprop vendor.get_p_usb_rework ${persist.sys.usb.rework}

# transform vendor property to system property

on property:vendor.set_usb_config=*
    setprop sys.usb.config ${vendor.set_usb_config}

on property:vendor.set_p_usb_config=*
    setprop persist.sys.usb.config ${vendor.set_p_usb_config}
